@font-face {
    font-family: myFont;
    src: url("fonts/font.ttf");
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

.flex {
    display: flex;
    gap: 30px;
    background-color: #eff6ff;
    justify-content: center;
}

.items a {
    text-decoration: none;
}

.btn {
    width: 30px;

}

.hero {
    background-image: url(images/Group.png);
}

.hero {
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-family: myFont;
    color: #1D4ED8;
    font-weight: bold;
    font-size: 50px;

}

.hero {
    margin-top: 30px;
}

.hero p {
    font-family: myFont;
    color: #3B82F6;
}

.text-center {
    margin-left: 30px;
}

.hero img {
    width: 600px;
}

.blogs .wrapper {
    display: flex;
    gap: 100px;
}

.card-title {
    color: #1E3A8A;
    font-weight: bold;
}

.text-muted {
    color: #4B5563;
}

.card-text {
    color: #374151;
}

.arrow {
    height: 100%;
    padding-top: 10%;
    cursor: pointer;
}

.alert p {
    color: #374151;
}

.details {
    background-image: url(images/vectorbg.png);
}
.butn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 4px;
    border-color: #1E40AF;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #1E40AF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .buttn{
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 4px;
    border-color: #1E40AF;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #1E40AF;
    text-decoration: none;
    padding: 5px;
    width: 218px;
    height: 40px;
  }
  footer{
    background-image: url(images/FooterBackground.png);
  }
  footer img{
    width: 30px;
  }
  footer .wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
  }
  footer .item{
    width: 100%
  }
  footer a{
    color: white;
    text-decoration: none;
}
.sde{
    font-size: 50px;
    color: white;
}
footer i{
    font-size: 30px;
}
footer .container{
    margin-top: 30px;
}
.bull h3, .bull h4{
    display: inline;
    padding: 20px;
    padding-bottom: 50px;
    cursor: pointer;
}
.bull{
    padding-bottom: 10px;
}
